/* ==========================================================================
Base
========================================================================== */


html, body {
  height: 100%; 
  font-family: 'Raleway','Open Sans', sans-serif !important;
  font-size: 15px;
  line-height: 1.64;
}

h1, h2 {
  font-family: 'Raleway','Open Sans', sans-serif !important;

}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
  padding-bottom: 10%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-padding {
  padding: 90px 0 100px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.separator { 
  -webkit-background-size: cover; 
   -moz-background-size: cover; 
   -o-background-size: cover; 
   background-size: cover; 
  background-attachment: fixed; 
  padding: 50px 0; 
  height: 350px;
}
.separator h1 { 
  font-size: 40px; 
  letter-spacing: 3px;
  text-transform: uppercase; 
}
.separator h1 span { 
  display: block; 
  font-size: 25px; 
  margin-top: 20px; 
}

.white > * {
  color: white;
}

.separator-icon {
  font-size: 3em;
}

/* ==========================================================================
Hero
========================================================================== */

.hero {
  display: table;
  background-attachment: fixed; 
  background: no-repeat center;
  width: 100%;
}
.hero .container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 700px;
}

.home-badge {
  width: 40em;
}

@media screen and (max-width: 50em) {
  .hero {
    height: 300px;
  }
}


/* ==========================================================================
Animations
========================================================================== */

.bounceIn, .bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .zoomIn { 
  visibility: visible !important; 
}
.hidden {
  visibility: hidden;
}

/* ==========================================================================
Intro
========================================================================== */


.intro { 
  background: #f3f5f8; 
}
.intro p { 
  margin: 50px 0 0; 
}

/* ==========================================================================
Team
========================================================================== */
.team-row img {
  border-radius: 25%;
  width: 200px;
  height: 200px;
}

.team-row h2:after {
  content: " ";
  border: solid 2px darkblue;
  display: block;
  width: 45px;
  margin: 15px auto;
}

.team-row h3 {
  color: gray;
  text-transform: lowercase;
  font-size: 1em;
  font-weight: 200;
}
/* ==========================================================================
Site
========================================================================== */
.about-site {
  padding-top: 50px;
  position: relative;
  z-index: 1; /* needed for setting pseudo-element z-index */
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.about-site a {
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}

.about-site a::before,
.about-site a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.about-site a:hover{
  color: darkblue;
}

.about-site a {
  font-weight: 500;
}

.about-site a svg.link-svgline {
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 15px; 
  -webkit-transition: stroke-dashoffset 0.3s ease-in-out; 
  transition: stroke-dashoffset 0.3s ease-in-out;
  -webkit-transform: translateY(-90%);
  transform: translateY(-90%);
  fill: none;
  stroke: #7AC6FF;
  stroke-width: 5;
  stroke-dasharray: 400px; 
  stroke-dashoffset: 400px;
}

@media screen and (max-width: 50em) {
  .about-site a svg.link-svgline {
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
  }
}

.about-site a:hover svg.link-svgline {
  stroke-dashoffset: 0px; 
}

.svg-wrap {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

/* ==========================================================================
Portfolio
========================================================================== */



.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.delay-1.5s { animation-delay: 1.5s; -webkit-animation-delay: 0.5s; }
.delay-2s { animation-delay: 2s; -webkit-animation-delay: 1s; }

.portfolio .columns {
  padding: 0.3rem;
}

.portfolio {
  background: #f3f5f8;
}

.portfolio figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: -0.135em;
  height: 300px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.portfolio figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.5;
}

.portfolio figure figcaption {
  padding: 2em;
  color: #BFBFBF;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.portfolio figure figcaption,
.portfolio figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.portfolio figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.portfolio figure h2 {
  word-spacing: -0.15em;
  color: #fff;
  font-weight: 300;
}

@media all and (min-width: 800px) {
  .portfolio figure {
    visibility: hidden;
  } 
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
  background: #1D2939;
}

figure.effect-bubba img {
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
  opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}



figure.effect-bubba h2 {
  padding-top: 15%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,15px,0);
  transform: translate3d(0,15px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@media all and (max-width: 770px) {
  figure.effect-bubba h2, p {
    opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  } 
}


/* ==========================================================================
CV
========================================================================== */ 
.objective {
  padding: 100px 50px;
}

#cv-badge {
  width: 40%;
}

/* ==========================================================================
CV - Timeline
========================================================================== */

.timeline {
  background: #F7F7F7;
}
.timeline-container {
  position: relative;
  padding: 2em 0;
  margin: 2em;
}

.timeline-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  height: 100%;
  width: 10px;
  background: rgb(31,102,177);
  background: -moz-linear-gradient(top, rgba(31,102,177,0) 0%, rgb(31,102,177) 8%, rgb(31,102,177) 92%, rgba(31,102,177,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(31,102,177,0) 0%, rgb(31,102,177) 8%, rgb(31,102,177) 92%, rgba(31,102,177,0) 100%);
  background: -o-linear-gradient(top, rgba(31,102,177,0) 0%, rgb(31,102,177) 8%, rgb(31,102,177) 92%, rgba(31,102,177,0) 100%);
  background: -ms-linear-gradient(top, rgba(31,102,177,0) 0%, rgb(31,102,177) 8%, rgb(31,102,177) 92%, rgba(31,102,177,0) 100%);
  background: linear-gradient(to bottom, rgba(31,102,177,0) 0%, rgb(31,102,177) 8%, rgb(31,102,177) 92%, rgba(158,21,15,0) 100%);
}

.timeline-block {
  position: relative;
  margin: 2em 0;
}
.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-block:first-child {
  margin-top: 0;
}
.timeline-block:last-child {
  margin-bottom: 0;
}

.timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1F66B1;
  border: 2px solid #2A3F5E;
}
.timeline-icon i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -18px;
  color: white;
  font-size: 24px;
}

#laptop {
  left: 46%;
}

#clipboard-pencil {
  left: 52%;
}

#loop {
  left: 52%;
}

#social-zurb {
  left: 52%;
}
.timeline-blurb {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
}

.timeline-blurb:after {
  content: "";
  display: table;
  clear: both;
}


.timeline-blurb::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.timeline-blurb h5 {
  font-size: .75em;
  color: #046D8B;
}

.timeline-blurb span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: .75em;
  color: #3B3737;
}

@media only screen and (min-width: 800px) {
  .timeline-container {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .timeline-container::before {
    left: 50%;
    margin-left: -5px;
  }
  .timeline-block {
    margin: 4em 0;
  }
  .timeline-block:first-child {
    margin-top: 0;
  }
  .timeline-block:last-child {
    margin-bottom: 0;
  }
  .timeline-icon {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    visibility: hidden;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  .timeline-icon i {
    margin-left: -12px;
    margin-top: -22px;
    font-size: 30px;
  }
  .timeline-blurb {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    visibility: hidden;
  }
  .timeline-blurb::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .timeline-blurb .span {
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: .75em;
    padding: 0 5px;
    color: #3B3737;
  }
  .timeline-block:nth-child(even) .timeline-blurb {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-blurb::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
}

@media all and (min-width: 320px) {
  .timeline-blurb span {
    position: initial;
    font-size: .75em;
    color: #3B3737;
  }
}
/* ==========================================================================
CV - Skills
========================================================================== */
progress, progress[role] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-size: auto;
  height: 100px;
  width: 100%;
}

.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:#eee;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skill-title {
  position:absolute;
  top:0;
  left:0;
  width: auto;
  font-weight:bold;
  font-size:13px;
  color:#ffffff;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skill-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skill-bar {
  height:35px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.4);
}

/* ==========================================================================
CV - Charts
========================================================================== */

/* ==========================================================================
About Page
========================================================================== */

section.about a {
  position: relative;
  display: inline-block;
  outline: none;
  color: #404d5b;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}

section.about a::before,
section.about a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.bio { 
  width: 100%; 
  background: #f3f5f8; 
  float: left; 
  height: 450px; 
  z-index: 1; 
}

.bio-img { 
  background: no-repeat center center; 
  background-position: 50% 50%; 
  height: 100%; 
  visibility: hidden;
}
.bio-content a {
  padding: 0 0.25em;
  font-weight: 500;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.bio-content a:hover {
  color: #d04c3f;
}

.bio-content a::before,
.bio-content a::after {
  position: absolute;
  top: 0;
  font-weight: 100;
  font-size: 150%;
  line-height: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

.bio-content a::before {
  left: -0.1em;
  content: '{';
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.bio-content a::after {
  right: -0.1em;
  content: '}';
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.bio-content a:hover::before,
.bio-content a:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}


/* ==========================================================================
Navigation Bar
========================================================================== */

.toggle-topbar i {
  font-size: 1.75rem;
  padding: 0 15px;
  color: #008cba;
}
nav.top-bar.expanded {
  height: 216px;
}

.top-bar {
  height: 40px;
}

.sticky {
  position: fixed;
  z-index: 99;
}

nav.top-bar {
  transition: height .4s ease-in-out;
}

.top-bar-section ul li > a {
  font-family: 'Raleway','Open Sans', sans-serif !important;
}

/* ==========================================================================
Footer
========================================================================== */

footer {
  background-color: #333;
}

footer ul {
  list-style: none;
  text-align: left;
  margin: 10%;
}
.social-links {
  border-left: 1px solid #fff;
  margin: 30px 0 30px 0;
  padding: 15px;
}


.social-links ul li a {
  font-size: 15px;
  margin-left: 5px;
}

.social-links ul li i {
  font-size: 30px;
  color: #fff;
}

.footer-info {
  margin: 50px 0 30px 0;
  padding: 50px 0 50px 0;
  color: #fff; 
}

.footer-info i {
  font-size: 30px;
  color: #FF3333;
  text-shadow: 0 1px 3px ghostwhite;
}

.copyright {
  font-size: .75em;
}

@media all and (max-width: 640px) {
  .social-links {
    border-left: none;
    margin: 0;
    padding: 0;
  }
  .social-links ul {
    display: inline-block;
  }
  .footer-info {
    width: auto;
    margin: 10px;
    border-bottom: 1px solid #fff;  
  }
}