<section class="hero" bg-img="/images/hero-about.jpg">
    <div class="container">
        <h1 class="animated fadeInDown">About</h1>
          <p>Will probably talk about me and what the page was built with</p>
    </div>
</section>
<section class="section-padding">
  <div class="row no-margin no-padding">
  	<div class="medium-8 columns">
       <div class="bio">
       	<div class="bio-img" bg-img="/images/profile.png" ui-jq="waypoint" ui-options="fadeInDown, offset">
       	</div>
      </div>
      <div class="fluid-white"></div>
  	</div>
	<div class="medium-4 columns">
	    This is stuff about me.
	</div>
  </div>
</section>