<section class="hero" bg-img="/images/hero-cv.jpg">
    <div class="container">
        <h1 class="animated fadeInDown">CV</h1>
          <p>Fun, hopefully somewhat interactive resume</p>
    </div>
</section>
<section class="objective section-padding text-center">
  <p>Style this similar to the intro section on homepage. Talk about objectives, general background maybe.</p>
</section>
<section class="timeline section-padding">
  <div class="timeline-container">
    <div ng-repeat="job in jobs" class="timeline-block">
      <div class="timeline-icon" ui-jq="waypoint" ui-options="bounceIn, offset">
        <i class="fi-power"></i>
      </div>
      <div class="timeline-blurb" ui-jq="waypoint" ui-options="fadeInDown, offset">
        <h4>{{job.position}}</h4>
        <span>{{job.dates}}</span>
        <h5>{{job.company}} - {{job.location}}</h5>
        <p>
          <ul ng-repeat="task in job.tasks">
            <li>
              {{task.one}}
            </li>
            <li>
              {{task.two}}
            </li>
            <li>
              {{task.three}}
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="row no-margin charts">
    <div class="medium-6 columns">
      <h2>Things I'm Learning</h2>
      <p><em>...on a scale of 0 to Yoda.</em></p>
      <div ng-repeat="skill in skills" class="skillbar">
        <div class="skill-title" style="background: {{skill.labelColor}}">
          <span>{{skill.name}}</span></div>
          <div class="skill-bar" ui-jq="waypoint" ui-options="animatePerc, offset" style="background: {{skill.barColor}};" data-percent="{{skill.perc}}%" popover="{{skill.tooltip}}" popover-trigger="mouseenter">
          </div>
          <div class="skill-bar-percent">{{skill.perc}}%</div>
        </div>
    </div>
    <div class="medium-6 columns">
      <h2>Things I Love</h2>
      <p>Icons of things I like doing here</p>
    </div>
  </div>
</section>