<section class="hero" bg-img="/images/hero-cv.png">
    <div class="container white">
        <h1 class="animated fadeInDown"><img id="cv-badge" src="images/svg/cv-badge.svg" /></h1>
    </div>
</section>
<section class="objective section-padding text-center">
  <h1>TLDR;</h1>
  <p>After graduating from Washington University with a B.S. in Systems Engineering, Jeanie was well-equipped for any job with a problem to solve. Initially finding work as a business analyst, she made it her goal to learn coding languages in order to better communicate with developers on her team. This resulted in her transitioning to a developer role and trying to shape herself into a well-balanced engineer. She aims to work smart, over-communicate, and never stop learning. She's also really into Legos and hacking IKEA furniture.</p>
  <p>[<a target="_blank" href="images/ResumeJeanie.pdf">printer friendly version</a>]</p>
</section>
<section class="timeline section-padding">
  <div class="timeline-container">
    <div ng-repeat="job in jobs" class="timeline-block">
      <div class="timeline-icon" ui-jq="waypoint" ui-options="bounceIn, offset">
        <i class="fi-{{job.icon}}" id="{{job.icon}}"></i>
      </div>
      <div class="timeline-blurb" ui-jq="waypoint" ui-options="fadeInDown, offset">
        <h4>{{job.position}}</h4>
        <span>{{job.dates}}</span>
        <h5>{{job.company}} - {{job.location}}</h5>
        <p>
          <ul ng-repeat="task in job.tasks">
            <li>
              {{task.one}}
            </li>
            <li>
              {{task.two}}
            </li>
            <li>
              {{task.three}}
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="row charts">
    <div class="medium-12 columns">
      <h2>Skills</h2>
      <p><em>...on a scale of 0 to Yoda.</em></p>
      <div ng-repeat="skill in skills">
        <div class="skillbar">
          <div class="skill-title" style="background: {{skill.labelColor}}">
            <span>{{skill.name}}</span></div>
            <div class="skill-bar" ui-jq="waypoint" ui-options="animatePerc, offset" style="background: {{skill.barColor}};" data-percent="{{skill.perc}}%">
            </div>
            <div class="skill-bar-percent">{{skill.perc}}%</div>

        </div>
        <p>// <em>{{skill.tooltip}}</em></p>

      </div>
    </div>
  </div>
</section>
<section class="separator text-center" bg-img="/images/code.png">
  <div class="container">
    <div class="row">
      <div class="medium-8 medium-offset-2 columns white">
        <h1>Portfolio: <span>completed and ongoing projects</span></h1>
      </div>
    </div>
  </div>
</section>
<section class="portfolio section-padding" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="large-6 medium-6 columns" ng-repeat="item in portfolio">
          <figure class="hidden effect-bubba delay-{{item.delay}}" ui-jq="waypoint" ui-options="{{item.animation}}, offset">
            <img src="{{item.img}}" />
            <figcaption>
              <h2>{{item.title}}</h2>
              <!-- <p>{{item.description}}</p> -->
              <a target="_blank" href="{{item.url}}"></a>
            </figcaption>
          </figure>
      </div>
    </div>
  </div>
</section>
<section class="interests section-padding">
  <div class="container">
    <div class="row">
      <h2>Other interests</h2>
      <div class="medium-3 columns" ng-class="{'end':$last}" ng-repeat="item in interests">
        <span ng-include="item.path"></span>
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>
</section>