<section class="hero" bg-img="/images/hero-cv.jpg">
    <div class="container">
        <h1 class="animated fadeInDown">CV</h1>
          <p>Fun, hopefully somewhat interactive resume</p>
    </div>
</section>

<section class="timeline section-padding">
  <!-- <div class="row">
    <ul class="button-group">
      <li><type="button" class="button" ng-click="yearFilter= null">All</li>
      <li><type="button" class="button" ng-click="yearFilter= {year:2014}">2014</li>
      <li><type="button" class="button" ng-click="yearFilter= {year:2013}">2013</li>
      <li><type="button" class="button" ng-click="yearFilter= {year:2012}">2012</li>
    </ul>
  </div>
  <div class="row">
    <ul>
      <li ng-repeat="job in jobs | filter: yearFilter">
        <h2>{{job.title}}</h2>
        <em>{{job.company}}</em> - {{job.location}}
        <ul ng-repeat="task in job.tasks">
          <li>
            {{task.one}}
          </li>
          <li>
            {{task.two}}
          </li>
          <li>
            {{task.three}}
          </ul>
      </li>
    </ul>
  </div> -->
    <div ng-repeat="job in jobs" class="timeline-block">
      <div class="timeline-icon" ui-jq="waypoint" ui-options="bounceIn, offset">
        <img src="http://placekitten.com/60/60" />
      </div>
      <div class="timeline-blurb" ui-jq="waypoint" ui-options="fadeInDown, offset">
        <h4>{{job.position}}</h4>
        <span>{{job.dates}}</span>
        <h5>{{job.company}} - {{job.location}}</h5>
        <p>
          <ul ng-repeat="task in job.tasks">
            <li>
              {{task.one}}
            </li>
            <li>
              {{task.two}}
            </li>
            <li>
              {{task.three}}
            </li>
          </ul>
        </p>
      </div>
    </div>
</section>
<section class="charts section-padding">
  <div class="row">
    <div class="medium-6 columns">
      <div ac-chart="barchart" ac-data="barData" ac-config="barConfig"></div>
    </div>
    <div class="medium-6 columns">
        <div ac-chart="piechart" ac-data="pieData" ac-config="pieConfig"></div>
    </div>
  </div>
</section>